#app{background-color: pink;
width: 100vw;
height: 100vh;}

#app div{
    border-radius: 50%;
    background-color: red;
    position: absolute;
    top: 0;
    left: 0;
    width: 100px;
    height: 100px;
    transition: all 5s; 
    transform: translate(0,0);
}